[submodule "Dependency"]
path = Dependency
url = https://github.com/DependencyCodeEditorLand/Dependency.git
ignore = all

[submodule "Element"]
path = Element
url = https://github.com/CodeEditorLand/Element.git
ignore = all

[submodule "Documentation/Rust"]
path = Documentation/Rust
url = https://github.com/DocumentationCodeEditorLand/RustDocumentationLand.git
ignore = all
